# Port dla aplikacji (domyślnie 8080)
# Na Windows zmień jeśli port 8080 jest zajęty
PORT=8081

# Konfiguracja szablonu
WEDDING_TEXT=ŚLUB TOMASZA I DOMINIKI
WEDDING_FONT_SIZE=7
DATE_TEXT=25 LIPIEC 2026
DATE_FONT_SIZE=7
