<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Template A4 - 8 placeholderów 71x71mm</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            font-family: Arial, sans-serif;
            background: #e0e0e0;
        }

        .page {
            position: relative;
            width: 210mm;
            height: 297mm;
            background: white;
            margin: 0 auto;
            outline: 2px solid red;
        }

        .frame {
            position: absolute;
            width: 71mm;
            height: 71mm;
            border: 1.5pt solid black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .photo-area {
            position: relative;
            width: 52mm;
            height: 52mm;
            background: #b0b0b0;
            border: 1pt solid black;
            overflow: visible;
        }

        .photo-area img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .dash {
            position: absolute;
            width: 25mm;
            height: 0;
            border-top: 1pt dashed black;
            transform-origin: center center;
        }

        .dash-tl {
            top: 10.914mm;
            left: 10.914mm;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .dash-tr {
            top: 10.914mm;
            right: 10.914mm;
            transform: translate(50%, -50%) rotate(45deg);
        }

        .dash-bl {
            bottom: 10.914mm;
            left: 10.914mm;
            transform: translate(-50%, 50%) rotate(45deg);
        }

        .dash-br {
            bottom: 10.914mm;
            right: 10.914mm;
            transform: translate(50%, 50%) rotate(-45deg);
        }

        .f1 { left: 20mm; top: 5mm; }
        .f2 { left: 119mm; top: 5mm; }
        .f3 { left: 20mm; top: 77mm; }
        .f4 { left: 119mm; top: 77mm; }
        .f5 { left: 20mm; top: 149mm; }
        .f6 { left: 119mm; top: 149mm; }
        .f7 { left: 20mm; top: 221mm; }
        .f8 { left: 119mm; top: 221mm; }

        @page {
            size: 210mm 297mm;
            margin: 0;
        }

        @media print {
            body {
                background: white;
            }

            .page {
                margin: 0;
                outline: none;
            }
        }

        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        .logo {
            position: absolute;
            left: 7mm;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            font-family: 'Lobster', cursive;
            font-size: 8.5pt;
            color: #E07A23;
            white-space: nowrap;
        }

        .instagram {
            position: absolute;
            right: 7mm;
            top: 50%;
            transform: translate(50%, -50%) rotate(-90deg);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 8.5pt;
            color: black;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 1mm;
        }

        .instagram svg {
            width: 3mm;
            height: 3mm;
        }

        .wedding {
            position: absolute;
            top: 5.5mm;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            font-family: 'Bebas Neue', cursive;
            font-size: {{ wedding_font_size }}pt;
            color: black;
            white-space: nowrap;
            text-align: center;
        }

        .date {
            position: absolute;
            bottom: 5.5mm;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Bebas Neue', cursive;
            font-size: {{ date_font_size }}pt;
            color: black;
            white-space: nowrap;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="page">
        {% for photo in photos %}
        <div class="frame f{{ loop.index }}">
            <div class="dash dash-tl"></div>
            <div class="dash dash-tr"></div>
            <div class="dash dash-bl"></div>
            <div class="dash dash-br"></div>
            <div class="photo-area">
                {% if photo %}
                <img src="{{ photo }}" alt="photo {{ loop.index }}">
                {% endif %}
            </div>
            <div class="wedding">{{ wedding_text }}</div>
            <div class="date">{{ date_text }}</div>
            <div class="logo">Przyczep To!</div>
            <div class="instagram">
                <svg viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"/>
                </svg>
                przyczepto
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
